* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    background-color: rgb(157, 194, 132);
    text-align: center;
}

header {
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column wrap;
}

header, main, section {
    width: 700px;
}

input {
    width: 70%;
}

input, .btn-add {
    color: green;
    border: 2px solid green;
}

ul {
    list-style-type: none;
    color: orange;
}

.btn {
    margin-right: 5px;
}

li {
    margin: 2px;
}

.btn-add {
    width: 28%;
    margin-left: 2%;
}
